html, body {
    margin: 0px;
    font-family: 'Roboto-light', sans-serif;
    color: rgb(16, 60, 24);
    height: 100%;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.pageBody{
    flex: 1;
    display: flex;
}

.header {
    font-size: 50px;
    background-color: rgb(165, 211, 165);
    padding: 30px;
    width: calc(100%-30px);
}

.projList {
    flex: 1;
    font-size: 30px;
    background-color: rgb(197, 243, 197);
    padding: 30px;
}

.taskList{
    flex: 8;
    font-size: 30px;
    background-color: rgb(234, 251, 234);
    padding: 30px;
}

.footer {
    background-color: rgb(165, 211, 165);
    color: white;
    padding: 10px;
    font-size: 15px;
    text-align: center;
}

.github {
    color: white;
    text-decoration: none;
}