html, body {
    margin: 0px;
    font-family: 'Roboto-light', sans-serif;
    color: rgb(16, 60, 24);
    height: 100%;
    min-width: 300px;
}
header {
    font-size: xxx-large;
    background-color: rgb(165, 211, 165);
    padding: 30px;
    width: calc(100%-30px);
    border-bottom: 1px ridge rgba(128, 128, 128, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
button {
    border: none;
    background-color: inherit;
}
button:hover {
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}
input {
    border: none;
    background-color: inherit;
    margin-bottom: 10px;
    font-family: inherit;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
#menu{
    background-image: url('./img/menu.png');
    width: 30px;
    height: 30px;
    background-size: contain;
    margin-right: 5px;
    opacity: 0.65;
    position: absolute;
    left: 9%;
}
#pageBody{
    flex: 1;
    display: flex;
}
#pageLeft{
    width: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    padding: 20px 10px;
    background-color: rgb(197, 243, 197);
    border-right: 1px ridge rgba(128, 128, 128, 0.5);
}
#pageLeft.hidden{
    display:none;
}
#projListTitle{
    margin-bottom: 10px;
}
#projList {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project{
    display: flex;
    width: 100%;
}
.projTitle{
    font-family: 'Roboto-Light', sans-serif;
    font-size: medium;
    padding: 10px;
    flex: 1
}
.projTitle.hidden{
    display:none;
}
#dispProj{
    margin-bottom: 10px;
}
.delProj{
    color: grey;
}
.modForm{
    background-color: rgba(255, 255, 255, 0.3);
    font-family: 'Roboto-Light', sans-serif;
    font-size: medium;
    padding: 10px;
    width: 100%;
}
.modForm.hidden{
    display: none;
}
.modFormButton{
    color: grey;
}
.modFormButton.hidden {
    display: none;
}
.projMod{
    color: grey;
}
.projMod.hidden{
    display: none;
}
.delProj.hidden{
    display:none;
}
#addProj{
    font-family: 'Roboto-Light', sans-serif;
    font-size: medium;
    color: grey;
    padding: 10px;
}
#addProj.hidden{
    display:none;
}
#projForm{
    display: flex;
}
#projForm.hidden{
    display:none;
}
#subProj{
    margin:0px
}
#newProj{
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 2px;
    font-size: 15px;
    width: 80%;
    padding: 5px 0px;
    margin:10px 0px;
}
#pageRight {
    flex: 8;
    font-size: 30px;
    background-color: rgb(234, 251, 234);
    display:flex;
    flex-direction: column;
}
#taskList{
    display: flex;
    flex-direction: column;
    padding: 20px 20px 0px 20px;
    margin: 0px;
    font-size: 20px;
}
.task{
    border: 2px outset rgba(212, 231, 213, 0.25);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color:rgb(249, 252, 249);
    margin-bottom: 10px;
    flex: 1;
    display: flex;
    align-items: center;
}
.task.completed{
    background-color: rgb(238 238 238);
    text-decoration: line-through;
    color: grey;
}
.task:hover{
    box-shadow: 8px 5px 5px rgba(128, 128, 128, 0.25);
}
.taskMain{
    padding: 20px;
    font-size: medium;
    flex: 1;
    display: flex;
    align-items: center;
}
.taskMain.hidden{
    display: none;
}
.taskText{
    margin-right: auto;
}
.checked{
    background-image: url('img/checked.jpeg');
    width: 16px;
    height: 16px;
    background-size: contain;
    margin-right: 5px;
    opacity: 0.85;
}
.unchecked{
    background-image: url('img/emptyCheck.jpeg');
    width: 16px;
    height: 16px;
    background-size: contain;
    margin-right: 5px;
    opacity: 0.85;
}
.modButton{
    background-image: url('img/edit.png');
    width: 20px;
    height: 20px;
    background-size: contain;
    margin: 0px 5px;
}
.delButton{
    background-image: url('img/delete.png');
    width: 19px;
    height: 19px;
    background-size: contain;
    margin-right: 5px;
}
.taskModForm {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 20px;
}
.taskModForm.hidden{
    display:none;
}
#addTaskSection{
    display: flex;
}
#addTask{
    font-family: 'Roboto-light',sans-serif;
    font-size: 15px;
    color: grey;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0px 20px;
    padding: 10px;
    border: 2px outset rgba(212, 231, 213, 0.25);
    border-radius: 5px;
    flex: 1;
}
#addTask.hidden{
    display:none;
}
#newTaskInput{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px outset rgba(212, 231, 213, 0.25);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 20px;
    margin: 0px 20px 0px 20px;
    font-size: 20px;
}
#newTaskInput.hidden{
    display: none;
}
#newTaskInput:hover{
    box-shadow: 8px 5px 5px rgba(128, 128, 128, 0.25);
}
.newTaskTitle {
    font-size: 15px;
    margin-right: auto;
    width: 80%;
}
.newTaskBody{
    display: flex;
    justify-content: flex-end;
}
.newDetails {
    width: calc(100% - 100px);
    margin-right: auto;
}
.dueDateSet {
    width: 100px;
}
.newTaskButtons {
    display: flex;
}
.dropDown{
    display: flex;
    flex-direction: column;
    position: absolute;
}
.prioritySel {
    font-family: 'Roboto-light', sans-serif;
    font-size: small;
    color: black;
    background-color: rgb(207, 234, 207);
    border-radius: 2px;
    width: 50px;
    height: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.dropContent{
    display: none;
}
.dropDown:hover .dropContent{
    display: flex;
    flex-direction: column;
}
.dropContent button {
    font-family: 'Roboto-light', sans-serif;
    background-color: rgb(245, 255, 245);
    width: 50px;
}
.submit{
    
    font-family: 'Roboto-Light', sans-serif;
    font-size: small;
    background-color: rgb(207, 234, 207);
    border-radius: 2px;
    width: 50px;
    height: 20px;
    margin: 0px;
    position: relative;
    left: 60px;
}
.submit:hover{
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}
footer {
    background-color: rgb(165, 211, 165);
    color: white;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    border-top: 1px ridge rgba(128, 128, 128, 0.5);
}
#github {
    color: white;
    text-decoration: none;
}
